<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Henrik Pizza</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<form method="POST" th:action="@{/orders}" th:object="${pizzaOrder}">
    <h1>You almost feel the taste of Italy!!!</h1>
    <img th:src="@{static/img/gettyimages-165688619-2048x2048.png}"/>
    <h3>Your just born pizza baby is her: </h3>
    <a th:href="@{/design}" id="another">Make one more baby</a><br/>
    <ul>
        <li th:each="pizza : ${pizzaOrder.pizzas}">
            <span th:text="${pizza.name}">pizza name</span></li>
    </ul>
    <h3>Deliver my perfect pizza  her: </h3>
    <label for="deliveryName">Name: </label>
    <input type="text" th:field="*{deliveryName}"/>
    <br/>
    <label for="deliveryStreet">Street address: </label>
    <input type="text" th:field="*{deliveryStreet}"/>
    <br/>
    <label for="deliveryCity">City: </label>
    <input type="text" th:field="*{deliveryCity}"/>
    <br/>
    <label for="deliveryPostCode">Post code: </label>
    <input type="text" th:field="*{deliveryPostCode}"/>
    <br/>
    <h3>Here's how I'll pay...</h3>
    <label for="ccNumber">Credit Card #: </label>

    <input type="text" th:field="*{ccNumber}"/>
    <br/>
    <label for="ccExpiration">Expiration: </label>
    <input type="text" th:field="*{ccExpiration}"/>
    <br/>
    <label for="ccCVV">CVV: </label>
    <input type="text" th:field="*{ccCVV}"/>
    <br/>
    <input type="submit" value="Submit Order"/>
</form>
</body>
</html>
